In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
#open saved files and preview
df_2000 = pd.read_csv("Data/final_tmdb_data_2000.csv.gz", low_memory = False)
df_2000.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.100,8.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,0.000,0.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.wkw-inthemoodforlove.com/,843.0,cn,花樣年華,...,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.108,1956.0,PG

In [3]:
df_2001 = pd.read_csv("Data/final_tmdb_data_2001.csv.gz", low_memory = False)
df_2001.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0035423,0.0,/ab5yL8zgRotrICzGbEl10z24N71.jpg,NaN,48000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,11232.0,en,Kate & Leopold,...,76019048.0,118.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,If they lived in the same century they'd be pe...,Kate & Leopold,0.0,6.3,1137.0,PG-13
2,tt0114447,0.0,NaN,NaN,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,151007.0,en,The Silent Force,...,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They left him for dead... They should have fin...,The Silent Force,0.0,5.0,3.0,NaN
3,tt0118589,0.0,/9NZAirJahVilTiDNCHLFcdkwkiy.jpg,NaN,22000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,10696.0,en,Glitter,...,5271666.0,104.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"In music she found her dream, her love, herself.",Glitter,0.0,4.6,117.0,PG-13
4,tt0118652,0.0,/mWxJEFRMvkG4UItYJkRDMgWQ08Y.jpg,NaN,1000000.0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",NaN,17140.0,en,The Attic Expeditions,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,His search for peace of mind... will leave his...,The Attic Expeditions,0.0,5.1,28.0,R

In [4]:
#combine/concat dfs into one
#source: https://pandas.pydata.org/docs/user_guide/merging.html
frames = [df_2000, df_2001]

tmdb_results = pd.concat(frames)

In [5]:
#review files merged
tmdb_results.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.100,8.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,0.000,0.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.wkw-inthemoodforlove.com/,843.0,cn,花樣年華,...,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.108,1956.0,PG

In [9]:
tmdb_results.to_csv('Data/tmdb_results_combined.csv.gz', compression='gzip',index=False)

In [10]:
#check df info
tmdb_results.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3442 entries, 0 to 2236
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                3442 non-null   object
 1   adult                  3440 non-null   float64
 2   backdrop_path          1804 non-null   object
 3   belongs_to_collection  256 non-null    object
 4   budget                 3440 non-null   float64
 5   genres                 3440 non-null   object
 6   homepage               258 non-null    object
 7   id                     3440 non-null   float64
 8   original_language      3440 non-null   object
 9   original_title         3440 non-null   object
 10  overview               3366 non-null   object
 11  popularity             3440 non-null   float64
 12  poster_path            3052 non-null   object
 13  production_companies   3440 non-null   object
 14  production_countries   3440 non-null   object
 15  release_date           3417 non-null   object
 16  revenue                3440 non-null   float64
 17  runtime                3440 non-null   float64
 18  spoken_languages       3440 non-null   object
 19  status                 3440 non-null   object
 20  tagline                1495 non-null   object
 21  title                  3440 non-null   object
 22  video                  3440 non-null   float64
 23  vote_average           3440 non-null   float64
 24  vote_count             3440 non-null   float64
 25  certification          1167 non-null   object
dtypes: float64(9), object(17)
memory usage: 726.0+ KB

In [14]:
#movies with values > 0 for budget OR revenue
#exclude any movies with 0's for budget AND revenue

filter_budget = tmdb_results['budget']>0
filter_revenue = tmdb_results['revenue']>0
tmdb_results.loc[filter_budget | filter_revenue]

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.wkw-inthemoodforlove.com/,843.0,cn,花樣年華,...,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.108,1956.0,PG
6,tt0119273,0.0,/fClJrAmJQ90zg9gWnfHVYSMiDTv.jpg,"{'id': 141086, 'name': 'Heavy Metal Collection...",15000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,16225.0,en,Heavy Metal 2000,...,0.0,88.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,not to survive the fight in the external world...,Heavy Metal 2000,0.0,6.093,156.0,R
10,tt0120263,0.0,/ynXVuylP8upazjz8lrqb1PEMkdR.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,34070.0,sv,Sånger från andra våningen,...,80334.0,98.0,"[{'english_name': 'Russian', 'iso_639_1': 'ru'...",Released,NaN,Songs from the Second Floor,0.0,7.242,215.0,NaN
11,tt0120467,0.0,/knok3mNReKqPTplnnqz7E4dd7mD.jpg,NaN,120000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",NaN,19085.0,en,Vulgar,...,14904.0,87.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Everyone loves a clown... some more than others.,Vulgar,0.0,5.400,42.0,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2204,tt0288192,0.0,/lDmQKPHzBiTpN3V1t28VkgciQZ1.jpg,NaN,100000.0,"[{'id': 18, 'name': 'Drama'}]",NaN,274523.0,en,Return to Innocence,...,0.0,110.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They took his innocence when he was seven year...,Return to Innocence,0.0,6.900,49.0,NaN
2224,tt0290326,0.0,/nWgnU0B3UrPieO5jU5eTK4htWLj.jpg,NaN,0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",NaN,64880.0,hi,Tum Bin,...,1486992.0,158.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,Love Will Find the Way,Tum Bin,0.0,7.200,15.0,NaN
2225,tt0290329,0.0,/nFV71P9O6IsNUjveaeLfmzHR6hL.jpg,NaN,60400.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,4241.0,ja,ビジターQ,...,0.0,84.0,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,The only thing stranger than this family is......,Visitor Q,0.0,6.500,374.0,R
2226,tt0290332,0.0,/4CuHVkRiZU5y5J05Nf4Cw6vG6qF.jpg,NaN,7000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,13408.0,en,The Wash,...,10229331.0,93.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"When you're down 'n dirty, it all comes out in...",The Wash,0.0,4.949,79.0,NaN
2229,tt0290662,0.0,/2ajQNGbCvzN0xWviAQkjHZsnU68.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",http://www.cine.co.jp/english/works/e_hush/ind...,26895.0,ja,ハッシュ!,...,52462.0,135.0,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,"Two guys, a girl, and the desire for a baby.",Hush!,0.0,7.000,11.0,NaN

In [18]:
tmdb_results['certification'].value_counts()

R          674
PG-13      272
PG          92
NR          88
G           32
NC-17        6
-            2
Unrated      1
Name: certification, dtype: int64

In [19]:
#movies in each of the certification categories (G/PG/PG-13/R)

filter_G = tmdb_results['certification']=='G'
filter_PG = tmdb_results['certification']=='PG'
filter_PG13 = tmdb_results['certification']=='PG-13'
filter_R = tmdb_results['certification']=='R'

In [22]:
#certified G
tmdb_results[filter_G]

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
13,tt0120630,0.0,/sPAwM8WxMdXNlqeP4F9DMe9LYoY.jpg,"{'id': 718551, 'name': 'Chicken Run Collection...",45000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,7443.0,en,Chicken Run,...,224834564.0,84.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,This ain't no chick flick. It's poultry in mot...,Chicken Run,0.0,6.726,4106.0,G
20,tt0120917,0.0,/neH7GNmzMs1BDLqHXOnTuB04dNh.jpg,"{'id': 178117, 'name': ""The Emperor's New Groo...",100000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",NaN,11688.0,en,The Emperor's New Groove,...,169327687.0,78.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,It's all about... ME!,The Emperor's New Groove,0.0,7.547,5596.0,G
24,tt0123055,0.0,NaN,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,248740.0,en,The Elf Who Didn't Believe,...,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Elf Who Didn't Believe,0.0,4.000,1.0,G
275,tt0192255,0.0,/xiVZGT0kKT5wCy7VaYuf5rr6Fnu.jpg,NaN,35000000.0,"[{'id': 10751, 'name': 'Family'}, {'id': 12, '...",NaN,24100.0,en,The Little Vampire,...,27965865.0,95.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"They're not just best friends, they're blood b...",The Little Vampire,0.0,6.801,341.0,G
383,tt0205461,0.0,/c4uxjS8iAiNwKzFG2SGBmS0EDlp.jpg,NaN,19000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 18, '...",NaN,16110.0,en,Thomas and the Magic Railroad,...,19748009.0,84.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Little Engines CAN Do Big Things...,Thomas and the Magic Railroad,0.0,5.464,55.0,G
418,tt0208298,0.0,/guTKlQh7Na7bec8SoAzSfYQWaUK.jpg,NaN,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",NaN,30628.0,en,The Miracle Maker,...,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Miracle Maker,0.0,5.800,30.0,G
446,tt0211181,0.0,/eqZ5t82asfprFcNS56eVruNT5G5.jpg,"{'id': 124916, 'name': '101 Dalmatians (Live-A...",85000000.0,"[{'id': 10751, 'name': 'Family'}, {'id': 35, '...",NaN,10481.0,en,102 Dalmatians,...,183611771.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Meet Two Unlikely Heroes With A Bone To Pick.,102 Dalmatians,0.0,5.500,1151.0,G
469,tt0213203,0.0,/9yxIBACv6GZs9JrhizDW6SEYaNu.jpg,"{'id': 57129, 'name': 'Rugrats Collection', 'p...",30000000.0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,16340.0,en,Rugrats in Paris: The Movie,...,103291131.0,78.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,France never had a chance!,Rugrats in Paris: The Movie,0.0,6.624,394.0,G
565,tt0220099,0.0,/uMoSM7r4dst4e5aFUhDEDPyh1hL.jpg,NaN,30000000.0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,15655.0,en,The Tigger Movie,...,45554533.0,77.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Tigger Movie,0.0,6.500,467.0,G
692,tt0235679,0.0,/6X3qdsHcwu06GiiXwwNRWzfJ5oJ.jpg,"{'id': 34055, 'name': 'Pokémon Collection', 'p...",16000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",https://www.warnerbros.com/movies/pokemon-3-movie,10991.0,ja,劇場版ポケットモンスター 結晶塔の帝王 エンテイ,...,68411275.0,74.0,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,This spring the Unown spells adventure.,Pokémon 3: The Movie,0.0,6.438,512.0,G
931,tt0263118,0.0,NaN,NaN,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",NaN,285320.0,en,The Best of Dr. Seuss,...,0.0,56.0,[],Released,NaN,The Best of Dr. Seuss,1.0,8.000,2.0,G
993,tt0270560,0.0,/xnOUkH3RcAKDajBIXLuntiPkkO8.jpg,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,34729.0,en,Our Lips Are Sealed,...,0.0,89.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Our Lips Are Sealed,0.0,6.006,234.0,G
1160,tt1291055,0.0,/5KwDfIM7UO2vPXr4E7JEmeiFxwU.jpg,"{'id': 39244, 'name': 'Digimon Collection', 'p...",0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",NaN,98299.0,ja,デジモンアドベンチャー02 前編・デジモンハリケーン上陸!!／後編・超絶進化!!黄金のデジメンタル,...,0.0,62.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Digimon Adventure 02 - Hurricane Touchdown! Th...,0.0,7.214,28.0,G
100,tt0198781,0.0,/vUTVUdfbsY4DePCYzxxDMXKp6v6.jpg,"{'id': 137696, 'name': 'Monsters, Inc. Collect...",115000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://movies.disney.com/monsters-inc,585.0,en,"Monsters, Inc.",...,579707738.0,92.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,We Scare Because We Care.,"Monsters, Inc.",0.0,7.821,15859.0,G
126,tt0206367,0.0,/8YAEyzviBTURPYRDkPeZGqyMG0z.jpg,NaN,0.0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,54491.0,en,The Trumpet Of The Swan,...,100202.0,75.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,Sometimes being different helps you to find yo...,The Trumpet Of The Swan,0.0,5.453,53.0,G
399,tt0247638,0.0,/gHtCBCQrzT6MvCylcvgFWPMZ1E2.jpg,"{'id': 107674, 'name': 'The Princess Diaries C...",37000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,9880.0,en,The Princess Diaries,...,165335153.0,115.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,She rocks. She rules. She reigns.,The Princess Diaries,0.0,6.930,4238.0,G
490,tt0255055,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,76692.0,en,IMAX - China: The Panda Adventure,...,0.0,48.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,An extraordinary journey. An experience of won...,China: The Panda Adventure,0.0,7.000,2.0,G
585,tt0265632,0.0,/nl9qQqEwt0g3LoNZTzp8tTIM5Dz.jpg,"{'id': 421084, 'name': 'Recess Collection', 'p...",10000000.0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,19405.0,en,Recess: School's Out,...,44460850.0,82.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Saving The World One Playground At A Time,Recess: School's Out,0.0,6.491,274.0,G
619,tt0268397,0.0,/xOyHKUFEhvogSHnDbsa5E7ZYx9D.jpg,NaN,25000000.0,"[{'id': 10751, 'name': 'Family'}, {'id': 28, '...",NaN,12589.0,en,Jimmy Neutron: Boy Genius,...,80936232.0,83.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"He may be small, but he's got a big brain!",Jimmy Neutron: Boy Genius,0.0,5.910,732.0,G
687,tt0273799,0.0,/ziINAUKAi1W74PffqDdBPk9E62l.jpg,NaN,25000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,34549.0,en,Max Keeble's Big Move,...,18634654.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,His World. His Rules.,Max Keeble's Big Move,0.0,5.706,126.0,G
721,tt0276198,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,64088.0,en,Horse Crazy,...,0.0,84.0,[],Released,You're never too young to chase your dreams.,Horse Crazy,0.0,0.000,0.0,G
965,tt0291959,0.0,/eB7NQzmfMLNMcjmQsLeoZ3rTjiz.jpg,"{'id': 416908, 'name': 'O Grilo Feliz', 'poste...",0.0,"[{'id': 28, 'name': 'Action'}, {'id': 16, 'nam...",NaN,182496.0,pt,O Grilo Feliz,...,0.0,80.0,"[{'english_name': 'Portuguese', 'iso_639_1': '...",Released,NaN,The Happy Cricket,0.0,4.500,10.0,G
990,tt0293854,0.0,/pu4qTZdFaUfXGjepFDw94zMxJs6.jpg,"{'id': 427113, 'name': 'Little Bear', 'poster_...",0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",http://www.nelvana.com/show/200/little-bear-th...,33371.0,en,The Little Bear Movie,...,0.0,75.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Little Bear Movie,0.0,6.545,11.0,G
1240,tt0810831,0.0,/foJtMkj948xDdfKkAemGplkQ9ly.jpg,"{'id': 39244, 'name': 'Digimon Collection', 'p...",0.0,"[{'id': 16, 'name': 'Animation'}]",NaN,36200.0,ja,デジモンテイマーズ 冒険者たちの戦い,...,0.0,50.0,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,NaN,Digimon Tamers: Battle of Adventurers,0.0,6.900,11.0,G
1387,tt0198781,0.0,/vUTVUdfbsY4DePCYzxxDMXKp6v6.jpg,"{'id': 137696, 'name': 'Monsters, Inc. Collect...",115000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://movies.disney.com/monsters-inc,585.0,en,"Monsters, Inc.",...,579707738.0,92.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,We Scare Because We Care.,"Monsters, Inc.",0.0,7.821,15859.0,G
1413,tt0206367,0.0,/8YAEyzviBTURPYRDkPeZGqyMG0z.jpg,NaN,0.0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,54491.0,en,The Trumpet Of The Swan,...,100202.0,75.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,Sometimes being different helps you to find yo...,The Trumpet Of The Swan,0.0,5.453,53.0,G
1686,tt0247638,0.0,/gHtCBCQrzT6MvCylcvgFWPMZ1E2.jpg,"{'id': 107674, 'name': 'The Princess Diaries C...",37000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,9880.0,en,The Princess Diaries,...,165335153.0,115.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,She rocks. She rules. She reigns.,The Princess Diaries,0.0,6.930,4238.0,G
1777,tt0255055,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,76692.0,en,IMAX - China: The Panda Adventure,...,0.0,48.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,An extraordinary journey. An experience of won...,China: The Panda Adventure,0.0,7.000,2.0,G
1872,tt0265632,0.0,/nl9qQqEwt0g3LoNZTzp8tTIM5Dz.jpg,"{'id': 421084, 'name': 'Recess Collection', 'p...",10000000.0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,19405.0,en,Recess: School's Out,...,44460850.0,82.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Saving The World One Playground At A Time,Recess: School's Out,0.0,6.491,274.0,G
1906,tt0268397,0.0,/xOyHKUFEhvogSHnDbsa5E7ZYx9D.jpg,NaN,25000000.0,"[{'id': 10751, 'name': 'Family'}, {'id': 28, '...",NaN,12589.0,en,Jimmy Neutron: Boy Genius,...,80936232.0,83.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"He may be small, but he's got a big brain!",Jimmy Neutron: Boy Genius,0.0,5.910,732.0,G
1974,tt0273799,0.0,/ziINAUKAi1W74PffqDdBPk9E62l.jpg,NaN,25000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,34549.0,en,Max Keeble's Big Move,...,18634654.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,His World. His Rules.,Max Keeble's Big Move,0.0,5.706,126.0,G
2008,tt0276198,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,64088.0,en,Horse Crazy,...,0.0,84.0,[],Released,You're never too young to chase your dreams.,Horse Crazy,0.0,0.000,0.0,G

In [24]:
#certified PG
tmdb_results[filter_PG]

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.wkw-inthemoodforlove.com/,843.0,cn,花樣年華,...,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.108,1956.0,PG
19,tt0120913,0.0,/pniACHS8KDVCldB3BlwL78RIZ7V.jpg,NaN,75000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 28, '...",NaN,7450.0,en,Titan A.E.,...,36754634.0,94.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"When Earth Ends, The Adventure Begins.",Titan A.E.,0.0,6.592,881.0,PG
22,tt0122459,0.0,/oNOJoW2XoH3shkQxHtOyacJRBCQ.jpg,NaN,24000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,2621.0,en,Return to Me,...,36609995.0,115.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,A comedy straight from the heart,Return to Me,0.0,6.700,324.0,PG
27,tt0130623,0.0,/laeEtakR2pLKu3CeRwB2lU5Y53X.jpg,NaN,127500000.0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,10567.0,en,Dinosaur,...,354248063.0,82.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,You have never seen anything like this.,Dinosaur,0.0,6.481,2072.0,PG
28,tt0131704,0.0,/9K1y8HCokYpuU92jKauiFwu0y7P.jpg,NaN,76000000.0,"[{'id': 10751, 'name': 'Family'}, {'id': 12, '...",NaN,17711.0,en,The Adventures of Rocky & Bullwinkle,...,35134820.0,88.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,This summer it's not the same old bull.,The Adventures of Rocky & Bullwinkle,0.0,4.072,306.0,PG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2108,tt0282589,0.0,/6hBomedYF2lEzHbfKE4k81CkDdd.jpg,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,36427.0,en,I Saw Mommy Kissing Santa Claus,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"Christmas is coming, and Santa's a dirty rat!",I Saw Mommy Kissing Santa Claus,0.0,5.400,22.0,PG
2112,tt0282768,0.0,/2XVEjzisS34cJy14OsR8d980gYj.jpg,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,52258.0,en,The Emperor's New Clothes,...,0.0,107.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Emperor's New Clothes,0.0,6.700,32.0,PG
2175,tt0286112,0.0,/tkxYmE3HzHy7E39zY3VvQ0k0VLU.jpg,NaN,10000005.0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,11770.0,cn,少林足球,...,42776760.0,113.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,Get ready to kick some grass!,Shaolin Soccer,0.0,7.039,1740.0,PG
2194,tt0287547,0.0,NaN,NaN,7500000.0,"[{'id': 16, 'name': 'Animation'}]",NaN,795374.0,ru,Man and Cat,...,0.0,0.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Man and Cat,0.0,5.000,1.0,PG
2195,tt0287635,0.0,/2Ut5lSVXDr2MvuTNa7VgBqTzap3.jpg,"{'id': 34055, 'name': 'Pokémon Collection', 'p...",0.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",https://www.miramax.com/movie/pokemon-iv-4ever/,12600.0,ja,劇場版ポケットモンスター セレビィ 時を超えた遭遇,...,28023563.0,75.0,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,Best friends. Better heroes.,Pokémon 4Ever,0.0,6.399,328.0,PG

In [26]:
#certified PG13
tmdb_results[filter_PG13]

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
17,tt0120755,0.0,/24DZfupDlhXeTchmcOkoGRhP5Vg.jpg,"{'id': 87359, 'name': 'Mission: Impossible Col...",125000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",NaN,955.0,en,Mission: Impossible II,...,546388105.0,123.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Expect the impossible again.,Mission: Impossible II,0.0,6.108,5448.0,PG-13
18,tt0120903,0.0,/lAFUFuxy74r4dUw2pmxTtzkfSDE.jpg,"{'id': 748, 'name': 'X-Men Collection', 'poste...",75000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",https://www.20thcenturystudios.com/movies/x-men,36657.0,en,X-Men,...,296339527.0,104.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Trust a few. Fear the rest.,X-Men,0.0,6.985,9795.0,PG-13
40,tt0138818,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,651895.0,en,The Hiding Place,...,0.0,97.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The only one who knows can't be trusted and is...,The Hiding Place,0.0,4.000,1.0,PG-13
41,tt0138927,0.0,/5f8tJLrFdcgSpqYi7U58GEkoMF1.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,65736.0,en,Waterproof,...,0.0,94.0,[],Released,Eli Zeal is about to learn that to err is huma...,Waterproof,0.0,6.000,4.0,PG-13
45,tt0141926,0.0,/2W1AA5qZXJrR7MJXUgqj49JsLYy.jpg,NaN,62000000.0,"[{'id': 10752, 'name': 'War'}, {'id': 18, 'nam...",http://www.u-571.com/,3536.0,en,U-571,...,127666415.0,116.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Heroes are ordinary men who do extraordinary t...,U-571,0.0,6.437,966.0,PG-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1997,tt0275527,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,623543.0,en,A Month of Sundays,...,0.0,92.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"It's easy to forgive, sometimes it just takes ...",A Month of Sundays,0.0,3.500,2.0,PG-13
2024,tt0277027,0.0,/mOsg2l9zq315ouw55rbNATSwgU1.jpg,NaN,22000000.0,"[{'id': 18, 'name': 'Drama'}]",NaN,10950.0,en,I Am Sam,...,92542418.0,132.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Love is all you need.,I Am Sam,0.0,7.568,1922.0,PG-13
2095,tt0281680,0.0,NaN,NaN,600000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,43664.0,en,"The Bread, My Sweet",...,1023156.0,105.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,In Italian a good man is a piece of bread.,"The Bread, My Sweet",0.0,5.200,11.0,PG-13
2149,tt0284233,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,70694.0,en,The Keyman,...,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,A Journey to Redemption,The Keyman,0.0,5.200,2.0,PG-13
2235,tt0290858,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,176530.0,bm,"Sia, le rêve du python",...,0.0,96.0,"[{'english_name': 'Bambara', 'iso_639_1': 'bm'...",Released,NaN,"Sia, the Myth of the Python",0.0,5.800,4.0,PG-13

In [27]:
#certified R
tmdb_results[filter_R]

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
5,tt0118852,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,49511.0,en,Chinese Coffee,...,0.0,99.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,There's a fine line between friendship and bet...,Chinese Coffee,0.0,6.900,46.0,R
6,tt0119273,0.0,/fClJrAmJQ90zg9gWnfHVYSMiDTv.jpg,"{'id': 141086, 'name': 'Heavy Metal Collection...",15000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,16225.0,en,Heavy Metal 2000,...,0.0,88.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,not to survive the fight in the external world...,Heavy Metal 2000,0.0,6.093,156.0,R
7,tt0119495,0.0,NaN,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,51181.0,en,Love 101,...,0.0,86.0,[],Released,NaN,Love 101,0.0,0.000,0.0,R
11,tt0120467,0.0,/knok3mNReKqPTplnnqz7E4dd7mD.jpg,NaN,120000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",NaN,19085.0,en,Vulgar,...,14904.0,87.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Everyone loves a clown... some more than others.,Vulgar,0.0,5.400,42.0,R
16,tt0120753,0.0,NaN,NaN,8000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,318.0,en,The Million Dollar Hotel,...,105983.0,122.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Everyone has something to hide.,The Million Dollar Hotel,0.0,5.915,254.0,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2178,tt0286484,0.0,NaN,NaN,0.0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,224207.0,en,Crime Scene,...,0.0,91.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Even The Perfect Serial Killer Eventually Leav...,Crime Scene,0.0,1.000,1.0,R
2182,tt0286751,0.0,/2ffEo7Aifb0maJTzVY3FWOZqWp6.jpg,NaN,25000000.0,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",NaN,27324.0,ja,回路,...,318451.0,119.0,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,Do you want to meet a ghost?,Pulse,0.0,6.557,335.0,R
2205,tt0288215,0.0,NaN,NaN,0.0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",NaN,54129.0,en,Shadow Fury,...,0.0,89.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Shadow Fury,0.0,6.700,7.0,R
2222,tt0290082,0.0,NaN,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,26468.0,en,Survivors Exposed,...,0.0,93.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,No Food. No Men. No Clothes.,Bare Naked Survivor,0.0,2.700,7.0,R
2225,tt0290329,0.0,/nFV71P9O6IsNUjveaeLfmzHR6hL.jpg,NaN,60400.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,4241.0,ja,ビジターQ,...,0.0,84.0,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,The only thing stranger than this family is......,Visitor Q,0.0,6.500,374.0,R

In [40]:
#average revenue of G certified movies

df_groupedG = tmdb_results.groupby(filter_G)['revenue'].mean()
print (df_groupedG)

certification
False    1.188155e+07
True     8.190920e+07
Name: revenue, dtype: float64

In [41]:
#average revenue of PG certified movies

df_groupedPG = tmdb_results.groupby(filter_PG)['revenue'].mean()
print (df_groupedPG)

certification
False    1.094053e+07
True     7.048362e+07
Name: revenue, dtype: float64

In [42]:
#average revenue of PG13 certified movies

df_groupedPG13 = tmdb_results.groupby(filter_PG13)['revenue'].mean()
print (df_groupedPG13)

certification
False    7.379060e+06
True     7.256080e+07
Name: revenue, dtype: float64

In [43]:
#average revenue of R certified movies

df_groupedR = tmdb_results.groupby(filter_R)['revenue'].mean()
print (df_groupedR)

certification
False    1.133505e+07
True     1.744905e+07
Name: revenue, dtype: float64

In [45]:
#average budget for each certification category

#average budget of G certified movies
df2_groupedG = tmdb_results.groupby(filter_G)['budget'].mean()
print (df2_groupedG)

certification
False    5.691742e+06
True     2.450000e+07
Name: budget, dtype: float64

In [46]:
#average budget of PG certified movies
df2_groupedPG = tmdb_results.groupby(filter_PG)['budget'].mean()
print (df2_groupedPG)

certification
False    5.331946e+06
True     2.532717e+07
Name: budget, dtype: float64

In [47]:
#average budget of PG13 certified movies
df2_groupedPG13 = tmdb_results.groupby(filter_PG13)['budget'].mean()
print (df2_groupedPG13)

certification
False    3.685654e+06
True     3.126950e+07
Name: budget, dtype: float64

In [48]:
#average budget of R certified movies
df2_groupedR = tmdb_results.groupby(filter_R)['budget'].mean()
print (df2_groupedR)

certification
False    4.744884e+06
True     1.047049e+07
Name: budget, dtype: float64